/* Document-wide default formatting */
body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style for all hyperlinks */
a {
  background-color: #CCCCCC;
}

/* Style for main heading 1 */
h1 {
  font-family: "Times New Roman", Times, serif;
  color: #CCCCCC;
}

/* Class Selector: Starts with a period (.) */
/* Applies red italic text to any HTML element with class="news" */
.news {
  color: red;
  font-style: italic;
}